[package]
name = "mini-rdk"
version = "0.1.0"
edition = "2021"
authors = ["Nicolas Menard <nicolas.p.menard@gmail.com>"]
resolver = "2"

[lib]
crate-type = ["lib"]

[patch.crates-io]
esp-idf-svc = {git = "https://github.com/esp-rs/esp-idf-svc"}
esp-idf-sys = {git = "https://github.com/npmenard/esp-idf-sys.git"}
polling = { git = "https://github.com/esp-rs-compat/polling" }
smol = { git = "https://github.com/esp-rs-compat/smol" }
socket2 = { git = "https://github.com/npmenard/socket2.git" }
viam-rust-utils = {git = "https://github.com/viamrobotics/rust-utils"}

[profile.release]
opt-level = "s"

[profile.dev]
debug = true # Symbols are nice and they don't increase the size on Flash
opt-level = "z"

[features]
qemu = []
camera = []

[dependencies]
anyhow = {version = "1", features = ["backtrace"]}
bytes = "1.2.1"
either = "1.8.0"
embedded-hal = {version = "0.2.7", features = ["unproven"]}
embedded-svc = "0.23"
esp-idf-hal = "0.39.3"
esp-idf-svc = {version = "0.43.4"}
esp-idf-sys = { version = "0.31.11", features = ["binstart"] }
futures-lite = "1.12.0"
h2 = "0.3.14"
hyper = {version="0.14.20", default-features = false, features = ["server","stream","http2"]}
log = "0.4"
prost = "0.11.0"
prost-types = "0.11.1"
smol = "1.2"
smol-timeout = "0.6.0"
socket2 = "0.4.5"
tokio = { version = "1", default-features = false}
