[package]
authors = ["Viam, inc. <contact@viam.com>"]
description = "Viam RDK for microcontroller"
edition = "2021"
license = "AGPL-3.0"
name = "micro-rdk"
repository = "https://github.com/viamrobotics/micro-rdk"
resolver = "2"
version = "0.1.5"
rust-version = "1.71"

[lib]
crate-type = ["lib"]

[patch.crates-io]
esp-idf-sys = {git = "https://github.com/viamrobotics/esp-idf-sys.git"}
smol = { git = "https://github.com/esp-rs-compat/smol" }
socket2 = { git = "https://github.com/viamrobotics/socket2.git" }
async-io = {git = "https://github.com/viamrobotics/async-io.git"}

[features]
default = []
camera = []
esp32 = ["dep:esp-idf-hal", "dep:esp-idf-svc", "dep:esp-idf-sys", "dep:embedded-svc", "dep:embedded-hal"]
native = ["dep:rustls", "dep:webpki-roots", "dep:rustls-pemfile", "dep:mdns-sd", "dep:local-ip-address", "dep:openssl", "dep:rcgen", "dep:async-std-openssl"]

[dev-dependencies]
test-log = "0.2.11"
env_logger = "0.10.0"

[dependencies]
anyhow = { version = "1", features = ["backtrace"] }
async-channel = "1.8.0"
async-io = "=1.12.0"
bytes = "1.2.1"
either = "1.8.0"
embedded-hal = { version = "0.2.7", features = ["unproven"], optional = true }
embedded-svc = { version = "0.26.4", optional = true }
esp-idf-hal = { version = "0.42.5", optional = true }
esp-idf-svc = { version = "0.47.3",  optional = true }
esp-idf-sys = { version = "0.33.7", features = ["binstart"],  optional = true }
futures = "0.3.28"
futures-lite = "1.12.0"
h2 = "0.3.22"
hyper = { version="0.14.20", default-features = false, features = ["server","stream","http2"] }
lazy_static = "1.4.0"
local-ip-address = { version = "0.4.9", optional = true }
log = "0.4"
mdns-sd = { version = "0.5.10", optional = true, default-features = false, features = ["async"] }
prost = "0.11.0"
rustls = { version = "0.20.7", features = ["logging","tls12"], optional = true }
rustls-pemfile = { version = "1.0.2", optional = true }
sctp-proto = "0.1.4"
smol = "1.2"
smol-timeout = "0.6.0"
sdp = "0.5.1"
socket2 = "0.4.9"
tokio = { version = "1", default-features = false }
webpki-roots = { version = "0.22.6", optional = true }
base64 = "0.21.0"
serde = {version = "1.0.156",features = ["derive"]      }
serde_json = "1.0.94"
rand = "0.8.5"
rcgen = {version = "0.10.0", optional = true }
sha2 = "0.10.6"
stun_codec = { version = "0.3.0" , git = "https://github.com/viamrobotics/stun_codec"}
bytecodec = "0.4.15"
trackable = "1.2.0"
openssl = {version = "0.10.50",  optional = true }
async-std-openssl = {version = "0.6.3", optional = true }
thiserror = "1.0.40"
pin-project-lite = "0.2.9"
url = "2.4.0"
once_cell = "1.18.0"
chrono = "0.4.31"
micro-rdk-macros = { path = "./micro-rdk-macros" }
ignore = "=0.4.20"
bitfield = "0.14.0"
scopeguard = "1.2.0"

[build-dependencies]
anyhow = "1"
const-gen = "1.3.0"
embuild = "0.29"

