[workspace]
resolver = "2"

members = [
  "micro-rdk",
  "micro-rdk-installer",
  "micro-rdk-macros",
  "micro-rdk-server",
  "micro-rdk-ffi",
  "examples/modular-drivers",
]

default-members = [
  "micro-rdk",
  "micro-rdk-macros",
  "micro-rdk-server",
]

[workspace.package]
authors = ["Viam, inc. <contact@viam.com>"]
description = "Viam RDK for microcontroller"
edition = "2021"
license = "AGPL-3.0"
repository = "https://github.com/viamrobotics/micro-rdk"
version = "0.2.8"
rust-version = "1.75"

[profile.release]
opt-level = "s"

[profile.dev]
debug = true # Symbols are nice and they don't increase the size on Flash
opt-level = "z"

[profile.release-ffi]
inherits = "release"
debug = true # Symbols are nice and they don't increase the size on Flash
opt-level = "s"

[workspace.dependencies]
anyhow = "1.0.71"
async-channel = "2"
async-executor = "1"
async-io = "2"
async-lock = "3.3.0"
async-std-openssl = "0.6.3"
atomic-waker = "1.1.2"
base64 = "0.21.0"
bitfield = "0.14.0"
bytecodec = "0.4.15"
bytes = "1.2.1"
cargo_metadata = "0.18.1"
cbindgen = "0.26.0"
chrono = "0.4.31"
chrono-tz = "0.8.4"
clap = "4.5.4"
crc32fast = "1.3.2"
dns-message-parser = { version = "0.7", default-features = false}
dialoguer = "0.10.4"
either = "1.8.0"
embedded-hal = { version = "0.2.7", features = ["unproven"] }
embedded-svc = "0.27"
embuild = "0.31.3"
env_logger = "0.10.1"
esp-idf-svc = { version = "=0.48.1", default-features = false }
esp-idf-part = "0.5.0"
espflash = { git = "https://github.com/viamrobotics/espflash.git", branch = "monitor-output" }
futures = "0.3.28"
futures-lite = "1"
futures-rustls = "0.24"
futures-util = "0.3.30"
http-body-util = "0.1.1"
hyper = { version = "1.4", default-features = false, features = ["server", "client", "http2"] }
ignore = "=0.4.20"
lazy_static = "1.4.0"
local-ip-address = "0.5.3"
log = "0.4.20"
mdns-sd = { version = "0.10.5", default-features = false, features = ["async"] }
micro-rdk = { path = "./micro-rdk", default-features = false, features = [] }
micro-rdk-macros = { path = "./micro-rdk-macros" }
micro-rdk-modular-driver-example = {path = "./examples/modular-drivers" }
once_cell = "1.18.0"
openssl = { version = "0.10.50" }
pin-project = "1.1.5"
pin-project-lite = "0.2.9"
printf-compat = "0.1.1"
proc-macro-crate = "2.0.0"
proc-macro2 = "1.0.67"
prost = "0.11.0"
prost-types = "0.11.1"
quote = "1.0.33"
rand = "0.8.5"
regex = "1.10"
rcgen = "0.11.1"
reqwest = "0.11.20"
reqwless = "0.5.0"
ringbuf = "0.3.3"
rustls = { version = "0.21", features = ["logging", "tls12"] }
rustls-pemfile = { version = "1.0.2" }
scopeguard = "1.2.0"
sctp-proto = "0.1.4"
sdp = "0.5.1"
secrecy = { version = "0.8.0", features = ["serde"] }
serde = { version = "1.0.156", features = ["derive"] }
serde_json = "1.0.97"
sha2 = "0.10.6"
socket2 = "0.4.9"
stun_codec = { version = "0.3.0" , git = "https://github.com/viamrobotics/stun_codec"}
syn = "1.0.109"
tempfile = "3.8.0"
test-log = "0.2.11"
thiserror = "1.0.47"
tokio = { version = "1.29.1", default-features = false }
trackable = "1.2.0"
version-compare = "0.2"
webpki-roots = "0.22.6"
