[package]
name = "mini-rdk"
version = "0.1.0"
edition = "2021"
authors = ["Nicolas Menard <nicolas.p.menard@gmail.com>"]
resolver = "2"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[patch.crates-io]
smol = { git = "https://github.com/esp-rs-compat/smol" }
polling = { git = "https://github.com/esp-rs-compat/polling" }
socket2 = { git = "https://github.com/npmenard/socket2" }
esp-idf-sys = {git = "https://github.com/npmenard/esp-idf-sys.git"}
[profile.release]
opt-level = "s"

[profile.dev]
debug = true # Symbols are nice and they don't increase the size on Flash
opt-level = "z"

[features]
qemu = []

[dependencies]
smol = "1.2"
esp-idf-sys = { version = "0.31.9", features = ["binstart"] }
anyhow = {version = "1", features = ["backtrace"]}
log = "0.4"
hyper = {version="0.14.20", default-features = false, features = ["server","stream","http2"]}
tokio = { version = "1", default-features = false}
futures-lite = "1.12.0"
prost = "0.11.0"
prost-types = "0.11.1"
bytes = "1.2.1"
esp-idf-svc = {version = "0.42.1"}
esp-idf-hal = "0.38"
embedded-svc = "0.22"
embedded-hal = "0.2.7"
smol-timeout = "0.6.0"
socket2 = "0.4.5"
downcast-rs = "1.2.0"
downcast = "0.11.0"

[build-dependencies]
embuild = "0.29"
anyhow = "1"
