[package]
name = "modular-drivers"
resolver = "2"
version = "0.2.0"
edition = "2021"
authors = ["Viam, inc. <contact@viam.com>"]
rust-version = "1.75"
license = "AGPL-3.0"

[dependencies]
log = "0.4"
micro-rdk = {version = "0.2.0", git = "https://github.com/viamrobotics/micro-rdk.git", features = ["esp32"], rev = "ad31cf1"}

[package.metadata.com.viam]
module = true
