menu "Micro RDK configuration"
     config MICRO_RDK_ENABLE_BUILD_LIBRARY
        bool "Enable Micro-RDK library"
        default n
        depends on (ESP_SYSTEM_EVENT_TASK_STACK_SIZE >= 4096) && (PTHREAD_TASK_STACK_SIZE_DEFAULT>=8192) && ESP32_SPIRAM_SUPPORT && (SPIRAM_MALLOC_ALWAYSINTERNAL >= 4090) && MBEDTLS_EXTERNAL_MEM_ALLOC
        select ESP_TLS_SERVER
        select SPIRAM_ALLOW_BSS_SEG_EXTERNAL_MEMORY
        select MBEDTLS_SSL_PROTO_DTLS
        select VFS_SUPPORT_SELECT
        help
	   When enabled a user can access micro-rdk-ffi library

     config MICRO_RDK_TASK_STACK_SIZE
     	depends on MICRO_RDK_ENABLE_BUILD_LIBRARY
        int "Select Micro RDK task stack size"
        default 22528

     choice MICRO_RDK_TASK_CORE_ID
        depends on !FREERTOS_UNICORE && MICRO_RDK_ENABLE_BUILD_LIBRARY
        prompt "MicroRDK Task Core ID"
        default MICRO_RDK_TASK_PINNED_TO_CORE_1
        help
            Pinned Micro RDK task to core 0 or core 1.

        config MICRO_RDK_TASK_PINNED_TO_CORE_0
            bool "Core 0"
        config MICRO_RDK_TASK_PINNED_TO_CORE_1
            bool "Core 1"
     endchoice
endmenu
