CONFIG_ESP_MAIN_TASK_AFFINITY_CPU1=y

CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP_SYSTEM_EVENT_TASK_STACK_SIZE=4096
CONFIG_PTHREAD_TASK_STACK_SIZE_DEFAULT=8192
CONFIG_ESP_TLS_SERVER=y

CONFIG_ESP32_SPIRAM_SUPPORT=y
CONFIG_SPIRAM_IGNORE_NOTFOUND=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=4090
CONFIG_SPIRAM_ALLOW_BSS_SEG_EXTERNAL_MEMORY=y

CONFIG_ESP_INT_WDT=y
CONFIG_ESP_TASK_WDT=n
CONFIG_VFS_SUPPORT_SELECT=y

CONFIG_MICRO_RDK_ENABLE_BUILD_LIBRARY=y
CONFIG_MICRO_RDK_TASK_STACK_SIZE=22528
CONFIG_MICRO_RDK_TASK_PINNED_TO_CORE_1=y
CONFIG_MBEDTLS_DEFAULT_MEM_ALLOC=y

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
