[template]
cargo_generate_version = ">=0.10.0"
ignore = [".git","README.md"]
description = "Micro-RDK template"
exclude = [".github/workflows/publish.yml"]

[placeholders.mcu]
type = "string"
prompt = "MCU"
choices = ["esp32"]
default = "esp32"

[placeholders.camera]
type = "bool"
prompt = "Include camera module?"
default = false

[conditional.'camera == false']
ignore = [ "bindings.h" ]

[placeholders.cloud_credentials]
type = "string"
prompt = "Machine Cloud Credentials (copied from app.viam.com)"
default = ""

[placeholders.ssid]
type = "string"
prompt = "Enter wifi name (only 2.4 gHz network are supported)"
default = ""

[placeholders.pwd]
type = "string"
prompt = "Enter the wifi password (leave blank if you don't want to store it)"
default = ""
