# Rust often needs a bit of an extra main task stack size compared to C (the default is 3K)
CONFIG_ESP_MAIN_TASK_STACK_SIZE=22528
CONFIG_ESP_MAIN_TASK_AFFINITY_NO_AFFINITY=y
# Use this to set FreeRTOS kernel tick frequency to 1000 Hz (100 Hz by default).
# This allows to use 1 ms granuality for thread sleeps (10 ms by default).
CONFIG_FREERTOS_HZ=1000

CONFIG_ESP32S2_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32S3_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP_SYSTEM_EVENT_TASK_STACK_SIZE=4096
CONFIG_PTHREAD_TASK_STACK_SIZE_DEFAULT=8192

CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=n
CONFIG_ESPTOOLPY_FLASHMODE_DIO=n


CONFIG_ESP_TLS_SERVER=y
CONFIG_MBEDTLS_SSL_PROTO_DTLS=y
CONFIG_MBEDTLS_DEFAULT_MEM_ALLOC=y
CONFIG_LWIP_MAX_SOCKETS=13

CONFIG_SPIRAM_SUPPORT=y
CONFIG_ESP32_SPIRAM_SUPPORT=y
CONFIG_ESP32S2_SPIRAM_SUPPORT=n
CONFIG_ESP32S3_SPIRAM_SUPPORT=y
CONFIG_SPIRAM_SPEED_80M=n
CONFIG_SPIRAM_IGNORE_NOTFOUND=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=4090
CONFIG_SPIRAM_ALLOW_BSS_SEG_EXTERNAL_MEMORY=y



CONFIG_LWIP_ETHARP_TRUST_IP_MAC=n
#CONFIG_LWIP_IRAM_OPTIMIZATION=y

CONFIG_MEMMAP_SMP=y
CONFIG_FREERTOS_UNICORE=n
CONFIG_ESP32_WIFI_IRAM_OPT=n
CONFIG_ESP32_WIFI_RX_IRAM_OPT=n

CONFIG_ESP_INT_WDT=y
CONFIG_ESP_TASK_WDT=n
CONFIG_VFS_SUPPORT_SELECT=y

CONFIG_CAMERA_TASK_PINNED_TO_CORE=CAMERA_CORE1
CONFIG_ESP32_SPIRAM_SUPPORT=y
CONFIG_ESP32_WIFI_TASK_PINNED_TO_CORE_0=y

CONFIG_ESP_COREDUMP_ENABLE_TO_FLASH=y
CONFIG_ESP_COREDUMP_DATA_FORMAT_ELF=y
CONFIG_ESP_COREDUMP_CHECKSUM_SHA256=y
CONFIG_ESP_COREDUMP_ENABLE=y
CONFIG_ESP_COREDUMP_MAX_TASKS_NUM=64
CONFIG_ESP_COREDUMP_UART_DELAY=0
#CONFIG_ESP_COREDUMP_DECODE_INFO=y
CONFIG_ESP_COREDUMP_DECODE="disable"
