name: Update ESP32 Canary OtaServiceConfig

on:
  workflow_call:
    inputs:
      otaTag:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      otaTag:
        description: 'OtaService Config Version tag'
        required: true
        type: string
        default: "testing"

env:
  ESP32_CANARY_ROBOT: ${{ secrets.ESP32_CANARY_ROBOT }}
  ESP32_CANARY_ROBOT_PART_ID: ${{ secrets.ESP32_CANARY_ROBOT_PART_ID }}
  ESP32_CANARY_API_KEY_2: ${{ secrets.ESP32_CANARY_API_KEY_2 }}
  ESP32_CANARY_API_KEY_ID_2: ${{ secrets.ESP32_CANARY_API_KEY_ID_2 }}
  ESP32_OTA_BINARY_NAME: ${{ vars.ESP32_OTA_BINARY_NAME }}
  GCP_BUCKET_URL: ${{ secrets.GCP_BUCKET_URL }}
  GCP_BUCKET_NAME: ${{ secrets.GCP_BUCKET_NAME }}

jobs:
  update-canary-config:
    runs-on: "ubuntu-latest"
    defaults:
      run:
        working-directory: ./canary
        shell: bash
    env:
      ESP32_CANARY_OTA_VERSION_TAG: ${{ inputs.otaTag }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Run Python Canary
        run: |
          python -m pip install -r requirements.txt
          python canary_ota.py
