name: Update ESP32 Canary OtaServiceConfig

on:
  workflow_dispatch: #TODO(1): change to on:push:tags:'*'
    secrets:
      ESP32_CANARY_ROBOT:
        required: true
      ESP32_CANARY_ROBOT_PART_ID:
        required: true
      ESP32_CANARY_API_KEY:
        required: true
      ESP32_CANARY_API_KEY_ID:
        required: true
    inputs:
      otaTag:
        description: 'OtaService Config Version tag'
        required: true
        type: choice
        default: 'latest'
        options:
          - latest
          - v0.4.0 # earlier versions do not support OTA

env:
  ESP32_CANARY_ROBOT: ${{ secrets.ESP32_CANARY_ROBOT }}
  ESP32_CANARY_ROBOT_PART_ID: ${{ secrets.ESP32_CANARY_ROBOT_PART_ID }}
  ESP32_CANARY_API_KEY: ${{ secrets.ESP32_CANARY_API_KEY }}
  ESP32_CANARY_API_KEY_ID: ${{ secrets.ESP32_CANARY_API_KEY_ID }}

jobs:
  update-canary-config:
    runs-on: "ubuntu-latest"
    defaults:
      run:
        working-directory: ./canary
        shell: bash
    env:
      ESP32_CANARY_OTA_VERSION_TAG: ${{ inputs.otaTag }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Run Python Canary
        run: |
          python -m pip install -r requirements.txt
          python canary_ota.py
