name: License Finder

on:
  workflow_dispatch:
  workflow_call:
  pull_request:
    branches: ['main']
  push:

jobs:
  license_finder:
    name: Audit 3rd-Party Licenses
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/viamrobotics/micro-rdk-dev-env:1.83.0-amd64
    timeout-minutes: 10

    steps:
      - name: Check out code
        uses: actions/checkout@v2
        with:
          fetch-depth: 2
          
      - name: Run license finder
        run: license_finder
