name: Test

on:
  workflow_dispatch:
  pull_request:
    branches: ['main']
  push:

jobs:
  build_and_test:
    name: Build and Test
    runs-on: [x64, qemu-host]
    container:
      image: ghcr.io/viamrobotics/micro-rdk-dev-env:amd64
    timeout-minutes: 10

    steps:
    - name : Checkout main branch code
      if: github.event_name != 'pull_request_target'
      uses: actions/checkout@v3
      with:
        fetch-depth: 2
        
    - name: Check out PR branch code
      if: github.event_name == 'pull_request_target'
      uses: actions/checkout@v3
      with:
        ref: ${{ github.event.pull_request.head.sha }}
        fetch-depth: 2
          
        
    - name: Clippy Native
      run: |
        bash -c 'make clippy-native'

    - name: Clippy esp32
      run: |
        bash -c 'git config --global --add safe.directory /opt/esp/esp-idf && export MICRO_RDK_WIFI_PASSWORD=0 && . "$IDF_PATH"/export.sh && . "$ESP_ROOT"/export-esp.sh && make clippy-esp32'
        
    - name: Format
      run: |
        bash -c 'make format'
        
    - name: Build ESP32
      run: |
        bash -c 'export MICRO_RDK_WIFI_PASSWORD=0 && . "$IDF_PATH"/export.sh && . "$ESP_ROOT"/export-esp.sh && cd examples && cd ../ && make build-esp32-bin'

    - name: Build ESP32
      run: |
        bash -c 'export MICRO_RDK_WIFI_PASSWORD=0 && . "$IDF_PATH"/export.sh && . "$ESP_ROOT"/export-esp.sh && cd examples && cd ../ && make build-qemu'

        
    - name: Build Native
      run: |
        bash -c 'make build-native'
        
    - name: Test
      run: |
        bash -c 'make test'
